body{
    background-color: skyblue;
    display: inline-block;
    margin: 50px;
}
h1,h2,h3{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(138, 139, 139);
}
h1:hover,h2:hover,h3:hover{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    cursor: pointer;
}
p,ul{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div{
    display: flex;
    flex-direction: column;
}
.header{
    text-align: center;
}



h2,h3{
    margin-left: 0px;
    animation: slidein 3s ;
 }
h1{
    margin-top: 0px;
    animation: slidedown 1s ;
 }
 

 
 @keyframes slidein {
     from {
         margin-left: -500px;
       transform: translateX(0%);
     }
   
     
   }
 @keyframes slidedown {
     from {
         margin-top: -500px;
       transform: translateX(0%);
     }
   
    
   }

